-birthdays = []
-birthdays_guests = []
-@instance.birthday_lists.each do |b|
  -birthdays << b.name
  -(1..15).each{ |i| birthdays_guests << b.send("guest#{i}") if not b.send("guest#{i}").nil? }
  
#wrapper
  h2 =@instance.title

  h3 Lista Desconto
  ol
    -@instance.guests.order(:name).each do |g|
      li=g.name

  h3 Aniversariantes
  ol
    -birthdays.sort.each do |b|
      li= b

  h3 Convidados dos Aniversariantes
  ol
    -birthdays_guests.sort.each do |g|
      li= g

css:
  @media screen, print {
    body {
      font-family: 'Courier';
      font-size: 10;
    }

    #wrapper {
      width: 800px;
    }
    ol {
      -webkit-column-count: 2;
      -webkit-column-gap: 10px;
      -webkit-column-fill: auto;

      -moz-column-count: 2;
      -moz-column-gap: 10px;      

      column-count: 2;
      column-gap: 10px;
      column-fill: auto;
    }
  }

