a.event.fake-link cover-image="#{event.cover_image_url(:main)}" href="#{home_agenda_url(event.permalink)}" class="#{'active' if event.id == active_event_id}"
  .date
    span.day= event.date.day
    span.weekday= PT_BR_WEEKDAYS_SHORT[event.date.wday]
  .party
    p= event.party