#social-share-links
  #facebook.link-container
    iframe allowtransparency="true" frameborder="0" scrolling="no" src="#{@active_event.facebook_link}" style="border:none; overflow:hidden; height:21px;"
  #tweeter.link-container
    iframe allowtransparency="true" frameborder="0" scrolling="no" src="#{@active_event.twitter_link}" style="width:115px; height:21px;"
  #google-plus.link-container
    iframe allowtransparency="true" frameborder="0" scrolling="no" src="#{@active_event.google_plus_link}" title="+1"