-title "Agenda"
-og_image @active_event.cover_image_url if @active_event != nil
-og_description @active_event.title_date if @active_event != nil
h1.seo Agenda
= render :layout => "page-wrapper" do
  .center-wrapper: #events
    -@events.reverse.each do |e|
      = render :partial => "event-box", :formats => [:html], locals: { event: e, active_event_id: @active_event.id }
  
  -if @active_event != nil
    #active-event
      #col1
        .title.title-mobile= @active_event.title
        img src="#{@active_event.cover_image_url(:main)}"        
        -if @active_event.guests_list_open?
          #lista-desconto-btn.btn.btn-black.fake-link.opacity-hover NOME NA LISTA
        -if @active_event.birthday_lists_open?
          a.btn.btn-purple.fake-link.opacity-hover href="#{home_aniversarios_lista_url(@active_event.permalink)}" LISTA ANIVERSÁRIO
      #col2
        .title.title-desktop= @active_event.title
        .sharing= render "social-links"
        .content== @active_event.description
      .clearfix

-if @active_event != nil
  .modal-lista-desconto.bg
  .modal-lista-desconto.modal
    .modal-dialog
      =form_tag "#{home_agenda_lista_url(@active_event.permalink)}" do
        .wrapper
          input.clear id="email" name="email" type="text" placeholder="e-mail"
          -(1..5).each do |i|
            input.clear id="name_" name="name[]" type="text" placeholder="nome (#{i})"      
      .modal-footer
        a#enviar-lista-desconto.btn.btn-purple.fake-link.opacity-hover ENVIAR
        a#cancelar-lista-desconto.btn.btn-black.fake-link.opacity-hover CANCELAR
