-title "Aniversários"
h1.seo Aniversários
= render :layout => "page-wrapper" do
  .center-wrapper
  .center-wrapper: .text== br_text setting(:aniversarios_page, :text)
  .center-wrapper: .contact 
      p== "Telefone: #{setting :aniversarios_page, :telefone}"
      p== "E-mail: #{setting :aniversarios_page, :email}"
  .center-wrapper: .text-icon
  .center-wrapper.center-wrapper-100: a.btn.btn-black.btn-w320.fake-link.opacity-hover href="#{home_aniversarios_lista_url}" ENVIAR LISTA DE ANIVERSÁRIO
  