-title "Aniversários"
h1.seo Aniversários
= render :layout => "page-wrapper" do
  .center-wrapper
  .center-wrapper
    =form_for @birthday_list, { url: "#{home_aniversarios_lista_post_url}" } do |f|
      p
        label Festa
        .select-wrapper
          =f.select :event_id, @events_for_select
      p
        label Nome do Aniversariante
        =f.text_field :name
      p
        label E-mail
        =f.text_field :email
      p
        label Data do Aniversário
        =f.text_field :date, class: "datepicker"
      -(1..15).each do |i|
        p
          label= "Convidado (#{i})"
          =f.text_field "guest#{i}"
  .center-wrapper.center-wrapper-100: #enviar-lista-aniversario.btn.btn-black.btn-w320.fake-link.opacity-hover ENVIAR LISTA
        
