-title "Contato"
h1.seo Contato
= render :layout => "page-wrapper" do
  .center-wrapper: .text== setting :contato_page, :top
  .center-wrapper.center-wrapper-100: a.image.opacity-hover target="_blank" href="https://www.google.com/maps/place/R.+Gen.+Lima+e+Silva,+426+-+Centro+Hist%C3%B3rico,+RS,+90050-102,+Brazil/data=!4m2!3m1!1s0x951979005c956357:0x38bbdf568ba592e1?sa=X&ei=DDtvVKDUJvHfsATM_4K4AQ&ved=0CB4Q8gEwAA"
  .center-wrapper: .text== setting :contato_page, :bottom