-title @gallery.title_date
-og_image @gallery.cover_image_url
-og_description @gallery.title_date
h1.seo= @gallery.title_date
= render :layout => "page-wrapper" do
  .center-wrapper: .text= @gallery.title_date
  #images
    -@gallery.photos.each do |p|
      .fancybox fancybox-content="#{p.image_url}"
        .image-wrapper.fake-link.same-height: .border-wrapper
          .image style="background-image: url('#{p.image_url(:main)}')"
    .clearfix
