-title "Fotos"
h1.seo Fotos
= render :layout => "page-wrapper" do
  #galleries
    -@galleries.each do |g|
      .gallery
        a href="#{home_fotos_detail_url(g.permalink)}"
          .block.same-height
            .bg style="background-image: url('#{g.cover_image_url(:main)}')"
            .fg
              .title= g.party
          .description
            .title= "#{g.formatted_date} // #{g.edition}"
            .pics= "#{g.photos.count} fotos"
    .clearfix
    =paginate @galleries