#flyer
.bottom
  .left
    .menu
      ul
        li: a href="#{home_sobre_url}" Sobre
        li: a href="#{home_agenda_url}" Agenda
        / li: a href="#{home_fotos_url}" Fotos
        li: a href="#{home_aniversarios_url}" Aniversários
        li: a href="#{home_contato_url}" Contato
    a href="#{root_url}": .logo
  .right
    -@events.reverse.each do |e|
      = render :partial => "event-box", :formats => [:html], locals: { event: e, active_event_id: nil }

-@events.each do |e|
  .preload-image style="background-image: url('#{e.cover_image_url(:main)}')"
