-title "Sobre"
h1.seo Sobre
= render :layout => "page-wrapper" do
  .center-wrapper: .text== br_text(setting(:sobre_page, :text))
  .center-wrapper: .text-icon
  #images: .wrapper    
    -@photos.each do |p|
      .fancybox.image-wrapper.fake-link.same-height fancybox-content="#{p}"
        .border-wrapper: .image style="background-image: url('#{p}')"
    .clearfix
