p
  b Lista de aniversário de:
  br
  = @birthday_list.name
  br
  = @birthday_list.date
  br
  = @birthday_list.email
p
  b Para o evento:
  br
  = @event.title_date
p
  b Nomes:
  -if @birthday_list.guest1
    br
    = @birthday_list.guest1
  -if @birthday_list.guest2
    br
    = @birthday_list.guest2
  -if @birthday_list.guest3
    br
    = @birthday_list.guest3
  -if @birthday_list.guest4
    br
    = @birthday_list.guest4
  -if @birthday_list.guest5
    br
    = @birthday_list.guest5
  -if @birthday_list.guest6
    br
    = @birthday_list.guest6
  -if @birthday_list.guest7
    br
    = @birthday_list.guest7
  -if @birthday_list.guest8
    br
    = @birthday_list.guest8
  -if @birthday_list.guest9
    br
    = @birthday_list.guest9
  -if @birthday_list.guest10
    br
    = @birthday_list.guest10
  -if @birthday_list.guest11
    br
    = @birthday_list.guest11
  -if @birthday_list.guest12
    br
    = @birthday_list.guest12
  -if @birthday_list.guest13
    br
    = @birthday_list.guest13
  -if @birthday_list.guest14
    br
    = @birthday_list.guest14
  -if @birthday_list.guest15
    br
    = @birthday_list.guest15
