-title "500 - Internal Server Error"
#content.error
  .wrapper
    .img
    %h1 500 - Internal Server Error
    %p Looks like something went wrong, you might want to go back to the home page and try again.
    %a{ :href => "/" } take me to the home page