.action-agenda  
  #content
    +break-max(960px) 
      width: 95%
      margin-left: 2.5% 
    +break-max(580px) 
      width: 100%
      margin-left: 0

    #events
      margin-top: 45px      
      +break-max(580px) 
        width: 269px
      .event
        +event-box-white
        +break-max(700px)     
          margin: 5px          
        &.active        
        .date
          .day
          .weekday
        .party

    #active-event
      color: black
      margin-top: 80px
      +break-max(580px)
        margin-top: 20px

      .title
        font-size: 30px
        line-height: 100%

      #col1
        float: left        
        width: 40%
        .title-mobile
          display: none
        +break-max(580px) 
          width: 100%
          .title-mobile
            display: block
            margin-bottom: 10px
            margin-left: 5%
            margin-right: 5%
        > div
          width: 100%
        img
          width: 100%          

      #col2 
        float: left        
        width: 55%
        margin-left: 5% 
        +break-max(960px)
          width: 58%
          margin-left: 2%
        +break-max(960px)
          width: 58%
          margin-left: 2%
        +break-max(840px)
          margin-left: 10px
        +break-max(580px) 
          margin-top: 20px
          margin-bottom: 20px
          width: 90%
          margin-left: 5%
        
        
        .title-desktop
          +break-max(580px) 
            display: none
        .sharing
          #social-share-links 
            margin-bottom, 28px
            display: flex
            .link-container
              height: 23px
              display: inline-block
              &#facebook 
                width: 88px
              &#tweeter 
                width: 88px          
              &#google-plus 
                width: 65px
          margin-top: 20px
        .content
          margin-top: 20px
          font-family: 'Courier'
          font-size: 12px
          ul, ol
            list-style: initial
            margin-top: 5px
            margin-left: 17px
          ol
            list-style-type: decimal


        