.action-aniversarios_lista
  +aniversarios
  form    
    width: 500px
    +break-max(500px)
      width: 100%
    display: inline-block
    label
      width: 100%
      display: block
      text-align: left
      font-family: Courier
      font-size: 12px
      font-weight: lighter
      margin-top: 10px
      margin-left: -5px
    input
      margin-left: -5px
      width: 100%
    div[validate=message]
      display: none

  .btn
    margin-top: 20px


  select  
    

  .select-wrapper
    margin: 0
    margin-left: -5px
    position: relative        
    width: 102.5%
    select
      width: 100%      
      border-radius: 0px
      -webkit-border-radius: 0px
      -webkit-appearance: none
      -moz-appearance: none
      margin: 0                  
      display: inline-block
      cursor: pointer

    &:after
      content: "\f0d7"
      font: 11px "FontAwesome"
      color:  white
      right: 10px 
      top: 10px
      padding: 0 0 4px
      border-bottom: 1px solid #ddd
      position: absolute
      pointer-events: none

    &:before
      content: ''
      right: 6px
      top: 0px
      width: 20px
      height: 20px          
      position: absolute
      pointer-events: none
      display: block