=aniversarios
  #content-wrapper #social-icons
    .facebook        
      +bg-image-2x('2x/social-icon-facebook-black.png')
    .twitter        
      +bg-image-2x('2x/social-icon-twitter-black.png')
    .instagram        
      +bg-image-2x('2x/social-icon-instagram-black.png')
      width: 21px
      height: 21px
      margin-top: 1px
  #content    
    .text-icon      
      +bg-image-2x('2x/aniversarios-bolt.png')

.action-aniversarios
  +aniversarios
  #content        
    .contact
      font-family: Courier
      font-weight: bold
      font-size: 12px
      color: black
      margin-top: 20px      
      p
        margin-top: 18px
      +all-link-states
        color: black
        &:hover
          color: white
    .btn 
      margin-top: 32px    
