.action-contato
  #content    
    .text
      font-size: 12px
      font-weight: bold
      +all-link-states
        &:hover
          color: $purple
          em
            color: white
    .image
      +bg-image-2x('2x/contato-map.jpg')
      background-size: cover
      display: inline-block
      +break-max(700px)
        width: 100%

    .image, .text
      margin-top: 20px
      