.action-fotos
  #content
    +break-max(960px) 
      width: 95%
      margin-left: 2.5% 
    +break-max(580px) 
      width: 100%
      margin-left: 0
      
    #galleries
      margin-top: 45px
      text-align: center
      width: 100%    
      +set-grid-wrapper(3%)    
      +break-max(850px)
        +set-grid-wrapper(3%)    
      +break-max(650px)
        +set-grid-wrapper(3%)
      +break-max(400px)
        +set-grid-wrapper(2%)
      .gallery
        +set-grid-block(4, 3%)
        +break-max(850px)
          +set-grid-block(3, 3%)
        +break-max(650px)
          +set-grid-block(2, 3%)
        +break-max(400px)
          +set-grid-block(1, 2%)
          .block
            border-top: 1px $purple solid
        .block
          width: 100%
          position: relative                  
          > div
            width: 100%
            height: 100%
            position: absolute
          .bg
            +opacity(0.4)
            background-position: center
            background-size: cover
          .fg
            display: table
            .title
              display: table-cell
              vertical-align: middle
              font-size: 17px
        &:hover .block .bg
          +opacity(0.8)
        .description
          height: 90px
          +break-max(400px)
            height: 60px
          margin-top: 10px
          .title
            font-size: 14px
            letter-spacing: 1px
          .pics
            font-family: 'Courier'
            font-size: 9px

      .pagination
        margin-top: 20px
        margin-bottom: 40px
        span
          margin: 0px 10px
          a:hover, &.current
            color: $purple          
    
