.action-fotos_detail
  #content    
    +break-max(960px) 
      width: 95%
      margin-left: 2.5% 
    +break-max(580px) 
      width: 100%
      margin-left: 0
    .text  
      font-size: 12px  
    #images
      +set-grid-wrapper(2.5%)
      +break-max(850px)
        +set-grid-wrapper(1%)          
      .image-wrapper
        background-position: center
        background-size: cover
        +set-grid-block(4, 2.5%)
        +break-max(850px)
          +set-grid-block(3, 1%)        
        margin-bottom: 2.5%