.action-index
  #menu-top
    display: none
  #flyer
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    height: 440px
    margin-top: 15px
    margin-bottom: 15px
  .bottom
    position: fixed
    bottom: 50px
    width: 960px
    > div > div, > div > a > div
      display: inline-block
    .left
      float: left
      .logo
        +bg-image-2x('2x/index-logo.png')
        margin-top: -14px
      .menu
        margin-left: 15px
        +box
        ul
          margin-top: 27px          
          li
            text-transform: uppercase
            letter-spacing: 3px
            font-size: 14px
            margin-bottom: 2px
            a:hover
              color: $purple
    .right
      float: right
      .event
        +event-box-black

  +break-max(960px)
    .bottom
      width: 95%
      left: 2.5%
      .left .menu
        display: none

  +break-max(840px)
    .bottom .right .event
      margin-left: 5px

  +break-max(730px)
    #flyer
      display: none
    .bottom
      position: initial
      margin-left: 2.5%
      text-align: center
      .left, .right
        float: initial
        display: inline-block
        // width: 100%;
      .right
        .event
          margin: 5px

  +break-max(540px)
    .bottom .right
      width: 269px
