.action-sobre
  #content    
    .text-icon      
      +bg-image-2x('2x/sobre-x.png')    
    text-align: center    
    #images
      display: inline-block
      width: 460px
      +break-max(470px)
        width: 90%
        margin-left: 2%
      > .wrapper
        +set-grid-wrapper(3%)
        +break-max(470px)
          +set-grid-wrapper(3%)
        +break-max(320px)
          +set-grid-wrapper(3%)
        .image-wrapper
          +set-grid-block(4, 3%)
          +break-max(470px)
            +set-grid-block(3, 3%)
          +break-max(320px)
            +set-grid-block(2, 3%)
          margin-bottom: 3%
          .border-wrapper
            border: 1px white solid