html
  background-image: url('2x/pattern-black.jpg')
  height: 100%
  &.html-action-index 
    background: url('2x/default-bg.jpg') no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover    
    +break-max(730px)
      background-image: url('2x/pattern-black.jpg')
      -webkit-background-size: contain
      -moz-background-size: contain
      -o-background-size: contain      
      background-size: initial
      background-repeat: repeat      
  &.html-action-agenda
    background-image: url('2x/pattern-white.jpg')
  &.html-action-aniversarios, &.html-action-aniversarios_lista
    background-image: url('2x/pattern-purple.jpg')
