html, body
  overflow-x: hidden

body  
  font-family: 'A'
  line-height: 120%
  letter-spacing: 0.7px
  color: white  
  text-align: center
  #content-wrapper
    display: inline-block    
    text-align: left
    width: 960px
    +break-max(960px)
      width: 100%
    #social-icons
      float: right  
      margin-top: 66px
      +break-max(960px)
        float: left
        margin-top: 18px
        margin-left: 18px
      > a
        display: block        
        float: right
        &:hover
          +opacity(0.5)      
        margin-right: 6px
      .facebook        
        +bg-image-2x('2x/social-icon-facebook-purple.png')
      .twitter        
        +bg-image-2x('2x/social-icon-twitter-purple.png')
      .instagram        
        +bg-image-2x('2x/social-icon-instagram-purple.png')
        width: 21px
        height: 21px
        margin-top: 1px
      > div
        width: 22px
        height: 22px
    #content
      margin-top: 90px
      margin-bottom: 30px    
      +break-max(580px)
        margin-top: 40px 