input, select
  letter-spacing: 1.5px  
  font-family: Courier
  font-size: 12px
  padding: 5px 5px
  background-color: black
  border: 1px solid white
  color: white
  display: block
  margin: -1px 10px
  width: 320px