#menu-top
  float: left  
  margin-top: 70px
  ul
    margin-left: -5px       
    li          
      display: inline-block
      margin: 0px 15px      
      a
        font-size: 16px
        letter-spacing: 3px
        color: white
        &:hover, &.active
          color: $purple
  +break-max(960px)
    display: none

.action-agenda #menu-top ul a
  color: black
  &:hover, &.active
    color: purple

.action-aniversarios, .action-aniversarios_lista
  #menu-top ul a
    color: white
    &:hover, &.active
      color: black


// #menu-space
//   width: 1px
//   height: 140px
//   +break-max(960px)
//     display: none

// #menu
//   position: fixed
//   height: 60px
//   bottom: 50px      
//   .button, .button-hover
//     position: absolute
//     top: 0
//     left: 0        
//     z-index: 1
//   .button
//     left: 5px
//     top: -2px
//     +bg-image-2x('2x/menu/btn-menu-white.png')
//   .button-hover
//     +bg-image-2x('2x/menu/hover-purple.png')
//     background: transparent
//     &:hover, &.active
//       +bg-image-2x('2x/menu/hover-purple.png')
//   ul
//     position: absolute
//     left: 50px
//     top: 14px
//     height: 35px        
//     width: 500px        
//     li          
//       display: inline-block
//       margin-left: 30px
//       margin-top: 8px
//       a
//         font-size: 16px
//         letter-spacing: 3px
//         &:hover
//           color: $purple
//   +break-max(960px)
//     display: none

// .html-action-agenda #menu
//   .button
//     +bg-image-2x('2x/menu/btn-menu-black.png')
//   .button-hover
//     +bg-image-2x('2x/menu/hover-purple.png')
//     background: transparent
//     &:hover, &.active
//       +bg-image-2x('2x/menu/hover-purple.png')
//   ul a
//     color: black

// .html-action-aniversarios #menu
//   .button
//     +bg-image-2x('2x/menu/btn-menu-white.png')
//   .button-hover
//     +bg-image-2x('2x/menu/hover-black.png')
//     background: transparent
//     &:hover, &.active
//       +bg-image-2x('2x/menu/hover-black.png')
//   ul a
//     color: black
//     &:hover
//       color: white


