=menu-responsive-icon($fg-color: black, $bg-color: white)
  background-color: $bg-color
  .line
    height: 3px
    width: 20px
    margin: 3px
    background-color: $fg-color
    &:first-child
      margin-top: 4px
    &:last-child
      margin-bottom: 4px

=menu-right
  position: absolute
  right: 15px
  top: 18px
  &:hover 
    cursor: pointer    

#menu-mobile-right
  +menu-responsive-icon($purple, transparent)  
  +menu-right
  z-index: 999
  +break-min(960px)
    display: none

.action-aniversarios
  #menu-mobile-right
    +menu-responsive-icon(black, transparent)

=menu
  position: fixed
  display: none    
  width: 100%
  left: 0px
  top: 0px
  height: 100%

#menu-mobile-bg
  +menu  
  background-color: $purple  
  z-index: 998
  opacity: 0.9

.action-aniversarios
  #menu-mobile-bg
    background-color: black 


#menu-mobile  
  +menu  
  text-transform: uppercase
  z-index: 999  
  text-align: center   
  #menu-mobile-right-close    
    +bg-image-2x('2x/menu-mobile/close-menu-icon.png')
    +menu-right 
  ul
    margin-top: 15%
    // +responsive-iphone-landscape
      // margin-top: 5%   
    li
      +all-link-states
        font-size: 35px        
      margin-bottom: 12px
   
 