.modal-lista-desconto
  display: none
  &.bg
    background: rgba(0,0,0,.8)
    position: fixed
    top: 0 
    left: 0 
    right: 0 
    bottom: 0 
    z-index: 10

  &.modal
    .modal-dialog
      margin-left: -180px
      position: fixed 
      left: 50%  
      top: 30px
      z-index: 11 
      width: 360px
      +break-max(370px)
        width: 100%
        margin-left: 0
        left: 0  

      background-image: url('2x/pattern-black-small.png')
      border: black solid 1px    
      form
        margin-top: 10px
        .wrapper
          width: 90%
          input
            width: 100%            

      .btn
        border: $purple solid 1px    
        margin: 10px
     
    .modal-body
      padding: 20px
    .modal-footer    
      text-align: right
