#content    
  .center-wrapper
    text-align: center    
    +break-max(960px)
      width: 95%
      margin-left: 2.5%
    &.center-wrapper-100
      +break-max(960px)
        width: 100%
        margin-left: 0
    > div, a
      display: inline-block
  #title
    margin-top: 50px

// titles
.action-sobre #title
  +bg-image-2x('2x/titles/sobre.png')
.action-agenda #title
  +bg-image-2x('2x/titles/agenda.png')
.action-fotos #title, .action-fotos_detail #title
  +bg-image-2x('2x/titles/fotos.png')
.action-aniversarios #title, .action-aniversarios_lista #title
  +bg-image-2x('2x/titles/aniversarios.png')
.action-contato #title
  +bg-image-2x('2x/titles/contato.png')

