.preload-image
  position: fixed
  left: -9999px
  background-repeat: no-repeat
  background-position-x: -9999px
  background-position-y: -9999px

+all-link-states
  text-decoration: none
  color: white

.action-sobre, .action-contato, .action-aniversarios, .action-fotos_detail
  #content    
    .text
      margin-top: 30px
      max-width: 750px
      font-family: 'Courier'
      font-size: 11px
      line-height: 300%
      letter-spacing: 1px
      em 
        color: $purple
    .text-icon
      margin-top: 30px

.btn
  display: block
  height: 50px
  text-align: center
  font-size: 24px
  line-height: 50px
  margin-top: 5px          
  letter-spacing: 1.5px
  color: white

.btn-black
  background-image: url('2x/pattern-black.jpg')
.btn-purple
  background-image: url('2x/pattern-purple.jpg')
.btn-w320
  width: 320px
  +break-max(400px)
    width: 100%

#images
  margin-top: 30px  
  .image-wrapper    
    .border-wrapper      
      height: 100%
      .image
        width: 90%
        height: 90%
        margin: 5%
        background-size: cover
        background-position: center
        &:hover
          width: 100%
          height: 100%
          margin: 0%
    

  