@font-face {
    font-family: 'A';
    src: url('arvil_sans-webfont.eot');
    src: url('arvil_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('arvil_sans-webfont.woff2') format('woff2'),
         url('arvil_sans-webfont.woff') format('woff'),
         url('arvil_sans-webfont.ttf') format('truetype'),
         url('arvil_sans-webfont.svg#arvil_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}