=box
  width: 122px
  height: 122px
  float: right 

=event-box
  +box
  text-align: left
  margin-left: 40px
  &:last-child
    margin-left: 0px
  .date
    margin-top: 10px
    margin-left: 10px
    span.day
      font-family: 'Helvetica'
      font-weight: bold
      font-size: 14px
    span.weekday
      margin-left: 10px
      font-family: 'Courier'
      font-size: 10px
  .party
    text-align: center
    margin: 0px 10px      
    font-size: 20px
    display: table
    height: 60px
    p
      display: table-cell
      vertical-align: middle
      text-align: center
      width: 102px
  &:hover
    +transition(background, 0.3s)
    +transition(color, 0.3s)

=event-box-black
  +event-box
  text-shadow: 0px 0px 2px black
  border: 1px solid white
  &:hover, &.active
    text-shadow: 0px 0px 0px
    background-color: white
    color: black

=event-box-white
  +event-box
  border: 1px solid black
  color: black
  &:hover, &.active
    background-color: black
    color: white
  


