meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
meta name="viewport" content="width=device-width, initial-scale=1.0"
title= setting(:general, :title) + (content_for?(:title) ? " | " + content_for(:title) : "")

meta name="description" content="#{setting :seo, :meta_tag_description}"
meta name="keywords" content="#{setting :seo, :meta_tag_keywords}"
meta name="fb:app_id" content="#{setting :social, :facebook_app_id}"
meta name="fb:admins" content="#{setting :social, :facebook_admins_user_ids}"
-og_image = content_for?(:og_image) ? content_for(:og_image) : image_setting(:social, :og_image)
meta name="og:image" content="#{og_image ? og_image : "/facebook.jpg?v=1"}"
meta name="og:description" content="#{content_for?(:og_description) ? content_for(:og_description) : setting(:social, :og_description)}"

= csrf_meta_tags

/ Le HTML5 shim, for IE6-8 support of HTML elements
/[if lt IE 9]
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"

link href="/favicon.ico?v=2" rel="shortcut icon"
link href="/favicon/114.png" rel="apple-touch-icon-precomposed" sizes="114x114"
link href="/favicon/128.png" rel="apple-touch-icon-precomposed" sizes="128x128"
link href="/favicon/144.png" rel="apple-touch-icon-precomposed" sizes="144x144"
link href="/favicon/152.png" rel="apple-touch-icon-precomposed" sizes="152x152"
link href="/favicon/16.png" rel="apple-touch-icon-precomposed" sizes="16x16"
link href="/favicon/24.png" rel="apple-touch-icon-precomposed" sizes="24x24"
link href="/favicon/256.png" rel="apple-touch-icon-precomposed" sizes="256x256"
link href="/favicon/32.png" rel="apple-touch-icon-precomposed" sizes="32x32"
link href="/favicon/48.png" rel="apple-touch-icon-precomposed" sizes="48x48"
link href="/favicon/512.png" rel="apple-touch-icon-precomposed" sizes="512x512"
link href="/favicon/64.png" rel="apple-touch-icon-precomposed" sizes="64x64"
link href="/favicon/72.png" rel="apple-touch-icon-precomposed" sizes="72x72"

= render :partial => "common/google-analytics", :formats => [:html]