ul
  li: a href="#{root_url}" Home
  li: a class="#{'active' if action?('sobre')}" href="#{home_sobre_url}" Sobre
  li: a class="#{'active' if action?('agenda')}" href="#{home_agenda_url}" Agenda
  / li: a class="#{'active' if action?('fotos') or action?('fotos_detail')}" href="#{home_fotos_url}" Fotos
  li: a class="#{'active' if action?('aniversarios') or action?('aniversarios_lista')}" href="#{home_aniversarios_url}" Aniversários
  li: a class="#{'active' if action?('contato')}" href="#{home_contato_url}" Contato
