-unless setting(:social_links, :facebook).blank?
  a.facebook.fake-link.opacity-hover href="#{setting :social_links, :facebook}"
-unless setting(:social_links, :instagram).blank?
  a.instagram.fake-link.opacity-hover href="#{setting :social_links, :instagram}"
-unless setting(:social_links, :twitter).blank?
  a.twitter.fake-link.opacity-hover href="#{setting :social_links, :twitter}"
