doctype html
html lang="en" class="html-action-#{params[:action]}" style="#{bg_image_from_settings}"
  head
    = render :partial => "/layouts/head", :formats => [:html]
    = stylesheet_link_tag "application", :media => "all"
  body class="action-#{params[:action]}"
    #is-touch class="#{'is-touch ' if touch_device?}"
    h1.seo Sinners Club    
    #menu-mobile-right
      .line
      .line
      .line
    #menu-mobile-bg
    #menu-mobile      
      #menu-mobile-right-close
      = render :partial => "/layouts/menu-ul", :formats => [:html]
    #content-wrapper
      #menu-top
        = render :partial => "/layouts/menu-ul", :formats => [:html]
      #social-icons
        = render :partial => "/layouts/social-icons", :formats => [:html]
      #content
        =yield
  = javascript_include_tag "application"  